body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
}


.contenedor-links {
    display: grid;
    gap: 15px;
}

.contenedor-links a {
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 8px;
}


.bandera {
    width: 300px;
    height: 200px;
    display: grid;
    margin: 30px auto;
    border: 2px solid black;
    position: relative;
}

/* Suecia */
.suecia {
    background-color: blue;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.suecia .vertical {
    background-color: yellow;
    grid-column: 5 / 7;
    grid-row: 1 / -1;
}
.suecia .horizontal {
    background-color: yellow;
    grid-column: 1 / -1;
    grid-row: 4 / 6;
}

/* Grecia */
.grecia {
    background-color: white;
    grid-template-rows: repeat(9, 1fr);
}
.grecia .franja:nth-child(odd) {
    background-color: blue;
}
.grecia .franja:nth-child(even) {
    background-color: white;
}

/* Chile */
.chile {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.cuadro-azul {
    background-color: blue;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.estrella {
    width: 20px;
    height: 20px;
    background-color: white;
    clip-path: polygon(
        50% 0%, 61% 35%, 98% 35%, 68% 57%, 
        79% 91%, 50% 70%, 21% 91%, 32% 57%, 
        2% 35%, 39% 35%
    );
}
.franja-blanca {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.franja-roja {
    background-color: red;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

/* Argentina */
.argentina {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.argentina .franja {
    width: 100%;
    height: 100%;
    position: relative; /* necesario para centrar la estrella */
}

.argentina .celeste {
    background-color: #74acdf;
}

.argentina .blanca {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estrella {
    width: 50px;
    height: 50px;
    background-color: gold;
    clip-path: polygon(
        50% 0%, 61% 35%, 98% 35%, 68% 57%,
        79% 91%, 50% 70%, 21% 91%, 32% 57%,
        2% 35%, 39% 35%
    );
}

/* Italia */
.italia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.italia .verde {
    background-color: green;
}
.italia .blanco {
    background-color: white;
}
.italia .rojo {
    background-color: red;
}
